@font-face {
  font-family: 'iconfont';  /* Project id 2079203 */
  src: url('https://at.alicdn.com/t/font_2079203_llxqs5ufmdp.woff2?t=1625117650405') format('woff2'),
       url('https://at.alicdn.com/t/font_2079203_llxqs5ufmdp.woff?t=1625117650405') format('woff'),
       url('https://at.alicdn.com/t/font_2079203_llxqs5ufmdp.ttf?t=1625117650405') format('truetype');
}
.icon {
    font-family: iconfont;
 }